.main-color {
  color: #c5baa9;
}

.navigation {
  background: linear-gradient(
    rgba(0, 0, 0, 0.01),
    rgba(10, 170, 135, 0.1),
    rgba(0, 0, 0, 0.01)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 87vh;
  min-height: 240px;
  width: 15vw;
  max-width: 200px;
  min-width: 120px;
}

.navigation__link {
  margin: 10px 1px;
  border-radius: 5px;
  text-align: center;

  font-size: 22px;
  width: 100%;
  transition: 0.5s linear;

  /* border-left: 3px solid black; */
  /* border-right: 3px solid black; */
  background-image: url(../images/navigation/panel.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  cursor: pointer;
  transition: 0.5s linear;
}

.navigation__link a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;

  padding: 5px 0;
  text-decoration: none;

  color: rgb(255, 255, 255);
  text-shadow: 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black;
}

.previousButton {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
  /* background-color: burlywood; */
}

.nextButton {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}

.previousButton p,
.nextButton p:hover {
  cursor: pointer;
}

.active {
  /* background-color: black; */
  /* opacity: 50%; */
  /* border-left: 3px solid black;
  border-right: 3px solid black; */
  height: 100%;
  transition: 0.5s linear;
  text-shadow: 1px 1px white;
  font-size: 22px;

  background-color: rgba(0, 0, 0, 0.5);
}

.backWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
}

.back img {
  height: 35px;
  /* padding-top: 10px; */
}

.back span {
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
}

.clickInfo {
  font-size: 17px;
}

/* .dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
} */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;

  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 22px;
  width: 100%;
  transition: 0.5s linear;

  background-image: url(../images/navigation/panel.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: 0.5s linear;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: inline-block;
  left: 100%;
  top: -50%;
}

.dropdown-element {
  border-bottom: 1px solid black;
}
.dropdown-element:nth-last-child(1) {
  border-bottom: none;
}

@media (max-width: 720px) {
  .navigation {
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    min-height: 30px;
    width: 96vw;
    max-width: none;
    min-width: 120px;
    background-color: none;
  }

  .active {
    font-size: 15px;
  }

  .navigation__link {
    font-size: 15px;
  }

  .dropdown-content {
    font-size: 15px;
  }

  .dropdown:hover .dropdown-content {
    display: inline-block;
    left: 0;
    top: 100%;
  }
}
