.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  /* flex-basis: 30%; */
  /* padding-top: 50px; */
  min-height: 90vh;
  /* min-height: 700px; */
  width: 81vw;

  /* ??? */
  max-width: 800px;
  /* ??? */

  /* padding: 50px 20px 50px 20px; */
  font-size: 20px;
  text-align: center;
  color: white;
}

@media (max-width: 720px) {
  .page {
    width: 96vw;
    /* min-height: 1000px; */
  }
}

@media (max-height: 624px) {
  .page {
    min-height: 620px;
  }
}
